
#QLineEdit {
        border: 2px solid black;
        border-radius: 2px;
        padding: 0px;
        
    }
#QLineEdit:focus {
    border: 2px solid blue;
}

#QButton{
    border: 2px solid black;
    border-radius: 4px;
}